@import"reset.css";@import"grid.css";@import"forms.css";@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,800);@import"ui.totop.css";
body{
	background:#f6f6f6;
	font:13px/18px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#b2b2b2;
	position:relative;
	min-width:980px;
}
html,body{height:100%;}
p{padding-bottom:18px;}
a{color:#E4814B;outline:none;cursor:pointer;text-decoration:none;}
a:hover{text-decoration:underline}
/*  Header styles */
h1,h2,h3,h4,h5,h6{line-height:1.3em;color:#323232;font-family: 'Open Sans', sans-serif; text-transform:uppercase; margin-bottom:26px;letter-spacing:1px}
h1{font-size:28px;}
h2{font-size:26px;}
h3{font-size:24px;} 
h4{font-size:22px;}  
h5{font-size:20px;}
h6{font-size:18px;}
/* Global Structure---------------------------------------- */
/*----- txt,links,lines,titles -----*/
.extra-wrap{overflow:hidden;display:block;}
.fleft{float:left}
.fright{float:right}
.alignright{text-align:right}
.aligncenter{text-align:center}
.alignmiddle *{vertical-align:middle}
.color1{color:#ff2100;}

.main {
	width:960px; 	
	padding:0;
	position:relative;
	margin:0 auto;
}

.last1 {
	margin-bottom:0 !important;
}

.last2 {
	padding-bottom:0 !important;
}

.wrapper {width:100%; overflow:hidden;}
 
.p1 {margin-bottom:8px;}
.p2 {margin-bottom:15px;}
.p3 {margin-bottom:30px;}
.p4 {margin-bottom:40px;}
.p5 {margin-bottom:50px;}

.reg {text-transform:uppercase;}

.title {margin-bottom:18px !important;}

.it {font-style:italic;}

.letter {letter-spacing:-1px;}

/*********************************boxes**********************************/
.margin-bot {margin-bottom:35px;}

.spacing {margin-right:35px;}

.indent {padding:0 0 0px 30px;}
.indent2 {padding-left:50px;}
.indent-bot {margin-bottom:20px;}
.indent-bot2 {margin-bottom:30px;}
.indent-bot3 {margin-bottom:45px;}

.img-indent-bot {margin-bottom:25px;}
.img-indent {float:left; margin:0 20px 0px 0;}	
.img-indent2 {float:left; margin:0 13px 0px 0;}	
.img-indent-r {float:right; margin:0 0px 0px 40px;}	

.prev-indent-bot {margin-bottom:10px;}	

.buttons a:hover {cursor:pointer;}
.clear {
 clear: both;
 display: block;
 overflow: hidden;
 visibility: hidden;
 width: 0;
 height: 0;
}


.logo {
	display:block; 
	width:231px; 
	height:53px; 
	text-indent:-5000px; 
	background:url(../img/logo.png) 0 0 no-repeat;
}

/*********************************header*************************************/
header {
	width:100%;
	position:relative; 
	z-index:2;
	background:#fff;
}

header h1 {
	padding:38px 0 0;
	margin:0 0 0 -1px;
	font-size:0;
	line-height:0;
}


.head-box1 {
    color: #B8B8B8;
    font-family: 'Open Sans',sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    padding-top: 55px;
    text-transform: uppercase;
}

.p6 {padding-top:26px !important;}

.head-box2 {
	overflow:hidden;
	padding-top:39px;
}
.text1 {
	display:block;
	color:#d54e40;
	font-size:24px;
	font-weight:bold;
	white-space:nowrap;
	line-height:29px;
}

.text2 {
	display:inline-block;
	 color: #B8B8B8;
    font-family: 'Open Sans',sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    text-transform: uppercase;
}

.link1 {
	color:#222222;
	transition: all 0.4s ease 0s;
	font-family: 'Open Sans',sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    text-transform: uppercase;
}

.link1:hover {
	color:#D54E40;
	text-decoration:none;
}

.head-line {
	width:950px;
	margin:19px auto 0;
	background:#d54e40;
	height:3px;
}

/*** MENU ***/
.sf-menu, .sf-menu * {
	margin:			0;
	padding:		0;
	list-style:		none;
}

nav {
	position:absolute;
	left:5px;
	width:950px;
	top:-54px;
	z-index:99;
	background:url(../img/menu-bg.png) repeat 0 0 ;
}

.p13 {
	position:relative !important;
	top:0 !important;
	margin-top:2px;
}

.p13 .sf-menu li {
	padding-bottom:2px;
}
.sf-menu {
	line-height:	1.0;
}
.sf-menu li {
	float:			left;
	width:158px;
	text-align:center;
	position:		relative;
	padding-bottom:3px;
}
.sf-menu a {
	display:		block;
	color:#fff;
	text-transform:uppercase;
	font-family: 'Open Sans', sans-serif;
	font-size:12px;
	font-weight:bold;
	line-height:15px;
	padding:20px 0;
	transition: all 0.4s ease 0s;
	position:		relative;
}

.sf-menu a:hover,
.sf-menu a.active,
.sf-menu li.sfHover > a {
	background:#d54e40;
	text-decoration:none;
}

.sf-menu ul a:hover,
.sf-menu ul li.sfHover > a {
	background:#e4814b;
}

.sf-menu ul ul a:hover,
.sf-menu ul ul li.sfHover > a {
	background:#cd4536;
}


.last3 {
	width:160px !important;
}
.sf-menu ul {
    background: none repeat scroll 0 0 #D54E40;
	padding:27px 0 28px;
    position: absolute;
    top: -999em;
    width: 266px;
}

.sf-menu ul ul {
	position:relative;
	padding:0;
}

.sf-menu ul li {
	width:			100%;
	text-align:left;
}
.sf-menu ul a {
	padding:3px 0 3px 32px;
}
.sf-menu ul ul a {
	padding:3px 0 3px 44px;
	color:#ffb070;
}

.sf-menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}

.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left: 6px;
    top: 57px; /* match top ul list item height */
	z-index:		99;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left: 0;
    top: 4px;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}

/********************** Content ************************/

#content {
	width:100%; 
	padding:48px 0 41px;
	background:#fff;
	position:relative;
	z-index:1;
}

.p14 {
	padding:6px 0 39px !important;
}

																									/***** Page 1 *****/

.page1-box1 {
	overflow:hidden;
	border-bottom:3px solid #d96c31;
	background:#e4814b;
}

.inner1 {
    border-right: 1px solid #D96C31;
    color: #FFFFFF;
    float: left;
    padding: 38px 15px 30px 37px;
    transition: all 0.4s ease 0s;
    width: 188px;
}

.inner1:hover {
	background:#d96c31;
}



.link2 {
	text-decoration:underline;
	color:#fff;
	text-transform:uppercase;
	font-weight:bold;
	font-size:12px;
	line-height:15px;
	font-family: 'Open Sans', sans-serif;
}

.link2:hover {
	text-decoration:none;
}

.link3 {
	text-decoration:underline;
	color:#e4814b;
	text-transform:uppercase;
	font-weight:bold;
	transition: all 0.4s ease 0s;
	font-size:12px;
	line-height:15px;
	font-family: 'Open Sans', sans-serif;
}

.link3:hover {
	color:#b2b2b2;
}

.text3 {
	color:#fff;
	font-size:19px;
	line-height:20px;
	font-family: 'Open Sans', sans-serif;
	font-weight:bold;
	display:block;
	text-transform:uppercase;
	margin-bottom:18px;
}

.inner1 p {
	padding-bottom:14px;
}

.last4 {
	border:none !important;
	width:175px;
}

.p9 {
	line-height:24px;
}

.p10 {
	color:#e4814b;
}

.p11 {
	margin-bottom:46px;
}

.text4 {
	margin-bottom:14px;
	display:block;
	color:#323232;
}


.page1-img1 {
    padding: 6px 0 4px;
}


.p12 {
    display: inline-block;
    margin-top: 17px;
}

.text5 {
    color: #D54E40;
    display: block;
    font-size: 18px;
    font-weight: bold;
	font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    line-height: 22px;
    text-transform: uppercase;
}

.text7 {
    color: #323232;
    font-size: 12px;
	float:left;
	display:block;
    line-height: 23px;
}

.page1-box2 {
	overflow:hidden;
	margin-bottom:23px;
}

.p36 {line-height:18px;}

.list1 a {
	color:#e4814b;
	font-size:13px;
	font-weight:bold;
	transition: all 0.4s ease 0s;
	line-height:18px;
}


.p33 {
    padding-bottom: 16px;
}

.list1 a:hover {
	color:#b2b2b2;
	text-decoration:none;
}

.link4 {color:#d54e40;}


.list1 li {
    background: url("../img/marker1.png") no-repeat scroll 0 5px transparent;
    display: block;
    line-height: 16px;
    padding-bottom: 8px;
    padding-left: 15px;
}


.banner1 span {
    color: #323232;
    display: block;
    font-family: 'Covered By Your Grace',cursive;
    font-size: 30px;
    line-height: 27px;
    margin-bottom: 5px;
}

.banner1 {
    border: 1px solid #DADADA;
    margin-top: 26px;
    padding: 16px 0 21px 21px;
}

.banner1 strong {
    color: #E4814B;
    display: block;
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 17px;
    text-transform: uppercase;
}


.banner1 i {
    color: #E4814B;
    display: block;
    font-family: 'Open Sans',sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 23px;
}

																									/***** Page 2 *****/


.page2-img1 {
    margin-bottom: 21px;
    padding-top: 2px;
}


.text6 {
    color: #323232;
}

.p15 {
	margin-bottom:24px;
}


.p16 {
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 30px;
    padding-bottom: 33px;
}

.p17 {
	margin-bottom:22px;
}

.p18 {
	margin-bottom:4px;
}

.page2-box1 {
	overflow:hidden;
	margin-bottom:24px;
}
#news-form .success {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #000000;
    color: #333333;
    display: none;
    left: 0;
    padding: 7px 0 7px 4px;
    position: absolute;
    top: 4px;
    width: 224px;
    z-index: 10;
}

#news-form label.invalid .error {
    height: 19px;
}
#news-form .error {
    color: #FF0000;
    display: block;
    font-size: 10px;
    height: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 35px;
    transition: all 0.3s ease-out 0s;
}


#news-form input {
    background: none repeat scroll 0 0 transparent;
    border: 1px solid #DADADA;
    box-shadow: none;
    color: #B2B2B2;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 13px;
    margin: 0 0 21px;
    outline: medium none;
    padding: 6px 12px 8px;
    width: 204px;
}

#news-form {
	padding-top:4px;
	position:relative;
}
																									/***** Page 3 *****/

.p20 {
    padding: 3px 0 41px !important;
}


.p21 {
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 32px;
    padding-bottom: 24px;
}


.p22 {
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 33px;
    padding-bottom: 10px;
}

.p23 {
	padding-top:2px;
}


.page3-img1 {
    float: left;
    margin-right: 20px;
    padding-top: 3px;
}

.p24 {
	padding-right:32px;
}


.page3-img2 {
    float: left;
    margin-bottom: 22px;
    margin-right: 20px;
    padding-top: 3px;
}

.page3-box1 {
	overflow:hidden;
	margin-bottom:10px;
}

.page3-img3 {
	padding-top:3px;
	margin-bottom:22px;
}

																									/***** Page 4 *****/


.page4-img1 {
    margin-bottom: 22px;
}

.p25 {
	margin-top:-3px;
	margin-bottom:24px;
}


.p26 {
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 30px;
    padding-bottom: 33px;
}


.page4-img2 {
    float: left;
    margin-right: 20px;
    padding-top: 3px;
}

.link5 {
    color: #D54E40;
    font-size: 18px;
    font-weight: bold;
	transition: all 0.4s ease 0s;
    letter-spacing: 2px;
    line-height: 19px;
    text-transform: uppercase;
}

.link5:hover {
	color:#b2b2b2;
	text-decoration:none;
}

.page4-box1 {
	overflow:hidden;
	margin-bottom:28px;
}

.p27 {
	margin-bottom:21px;
}


.p28 {
	margin-bottom:20px;
	margin-top:-3px;
}


.p29 {
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 32px;
    padding-bottom: 25px;
}

.p30 {
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 32px;
    padding-bottom: 35px;
}


.p32 {
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 31px;
    padding-bottom: 35px;
}
																									/***** Page 5 *****/

																									
	.page5-img1 {
	float:left;
	padding-top:4px;
	margin-right:20px;
}


.p34 {
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 32px;
    padding-bottom: 27px;
}
																								
.page6-img1 {
	margin-bottom:26px;
}
	
/******************** Footer ******************/
footer {
	width:100%; 
	background:#f6f6f6;
	border-top:3px solid #eaeaea;
	padding:30px 0 30px;
}

.list2 a {
	color:#e4814b;
	transition: all 0.4s ease 0s;
	font-size:13px;
}

.list2 a:hover {
	color:#b2b2b2;
	text-decoration:none;
}
.list2 {
	padding-top:9px;
}


.list2 li {
    background: url("../img/marker1.png") no-repeat scroll 0 5px transparent;
    display: block;
    line-height: 16px;
    padding-bottom: 8px;
    padding-left: 13px;
}

.foot-page1 {
	font-size:11px;
	font-weight:bold;
	text-transform:uppercase;
	
	font-family: 'Open Sans', sans-serif;
	color:#b2b2b2;
}
.foot-page1 a {
	color:#b2b2b2;
	transition: all 0.4s ease 0s;
}
.foot-page1 a:hover {
	color:#D54E40;
	text-decoration:none;
}