form.search .submit{
	top:5px !important;
}
.sf-menu ul.submenu{
	left:0;
}
.foot-page1 span{
	bottom:5px !important;
}
#content .page1-box1 .inner1{
	width:25% !important;
	border-right:none !important;
}
#content .page1-box1 .inner1 span.text3{
	padding:0 20px;
	margin-right:0 !important;
	margin-left:0 !important;
}
#content .page1-box1 .inner1 p{
	padding:0 20px;
}
#content .page1-box1 .inner1 a.link2{
	bottom:20px !important;
	left:20px;
}
