@import"reset.css";@import"grid.css";@import"forms.css";@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,800);@import"ui.totop.css";
body{
	background:#f6f6f6;
	font:13px/18px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#9b907f;
	position:relative;
	min-width:980px;
}
html,body{height:100%;}
p{padding-bottom:18px;}
a{color:#E4814B;outline:none;cursor:pointer;text-decoration:none;}
a:hover{text-decoration:underline}
/*  Header styles */
h1,h2,h3,h4,h5,h6{line-height:1.3em;color:#323232;font-family: 'Open Sans', sans-serif; text-transform:uppercase; margin-bottom:26px;letter-spacing:1px}
h1{font-size:28px;}
h2{font-size:26px;}
h3{font-size:24px;} 
h4{font-size:22px;}  
h5{font-size:20px;}
h6{font-size:18px;}

/* Bootstrap overwriting */

header a:hover, #content .page1-box1 a:hover{
	color:#FFF;
}

#content a:hover{
	color:#9C8F7F;
}

form {
    margin: 0 !important;
}

p {
    margin: 0 !important;
}

.carousel {
	margin-bottom:0 !important;
}

.carousel.carousel-fade .item {
  -webkit-transition: opacity 2s ease-in-out;
  -moz-transition: opacity 2s ease-in-out;
  -ms-transition: opacity 2s ease-in-out;
  -o-transition: opacity 2s ease-in-out;
  transition: opacity 2s ease-in-out;
}
.carousel.carousel-fade .active.left,
.carousel.carousel-fade .active.right {
  left: 0;
  z-index: 2;
  opacity: 0;
  filter: alpha(opacity=0);
}
.carousel.carousel-fade .next,
.carousel.carousel-fade .prev {
  left: 0;
  z-index: 1;
}

.carousel.carousel-fade .carousel-control {
  z-index: 3;
}

.carousel-linked-nav,
.item img {
  display: block; 
  margin: 0 auto;
}

.carousel-linked-nav {
  position:absolute;
  z-index:5;
  bottom:50px;
  display:block;
  margin-bottom: 20px;   
  left:75%;
}

.carousel-linked-nav li{
	float:left;
	display:block;
	background:url(../img/pagin-a.png) scroll 0 0;
	width:22px;
	height:22px;
	margin-right:10px;
}

.carousel-linked-nav li.active{
	background:url(../img/pagin-a.png) scroll 0 22px;
}

.carousel-linked-nav li a{
	width:100%;
	height:100%;
	display:block;
	text-indent:-999999px;
}

/* Global Structure---------------------------------------- */
/*----- txt,links,lines,titles -----*/
.extra-wrap{overflow:hidden;display:block;}
.fleft{float:left}
.fright{float:right}
.alignright{text-align:right}
.aligncenter{text-align:center}
.alignmiddle *{vertical-align:middle}
.color1{color:#ff2100;}

.main {
	width:100%; 	
	padding:0;
	position:relative;
	margin:0 auto;
}

.last1 {
	margin-bottom:0 !important;
}

.last2 {
	padding-bottom:0 !important;
}

.wrapper {width:100%; overflow:hidden;}
 
.p1 {margin-bottom:8px;}
.p2 {margin-bottom:15px;}
.p3 {margin-bottom:30px;}
.p4 {margin-bottom:40px;}
.p5 {margin-bottom:50px;}

.reg {text-transform:uppercase;}

.title {margin-bottom:18px !important;}

.it {font-style:italic;}

.letter {letter-spacing:-1px;}

/*********************************boxes**********************************/
.margin-bot {margin-bottom:35px;}

.spacing {margin-right:35px;}

.indent {padding:0 0 0px 30px;}
.indent2 {padding-left:50px;}
.indent-bot {margin-bottom:20px;}
.indent-bot2 {margin-bottom:30px;}
.indent-bot3 {margin-bottom:45px;}

.img-indent-bot {margin-bottom:25px;}
.img-indent {float:left; margin:0 20px 0px 0;}	
.img-indent2 {float:left; margin:0 13px 0px 0;}	
.img-indent-r {float:right; margin:0 0px 0px 40px;}	

.prev-indent-bot {margin-bottom:10px;}	

.buttons a:hover {cursor:pointer;}
.clear {
 clear: both;
 display: block;
 overflow: hidden;
 visibility: hidden;
 width: 0;
 height: 0;
}


.logo {
	display:block; 
	width:298px; 
	height:66px; 
	text-indent:-5000px; 
	background:url(../img/logo.png) 0 0 no-repeat;
}

/*********************************header*************************************/
header {
	width:100%;
	position:relative; 
	z-index:2;
	background:#fff;
}

header h1 {
	padding:22px 0 0;
	margin:0 0 0 -1px;
	font-size:0;
	line-height:0;
}


.head-box1 {
    color: #9c8f7f;
    font-family: 'Open Sans',sans-serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 16px;
    padding-top: 55px;
    text-transform: uppercase;
}

.head-box1 span{
	color:#000;
}

.p6 {padding-top:26px !important;}

.head-box2 {
	overflow:hidden;
	padding-top:35px;
}
.text1 {
	display:block;
	color:#d54e40;
	font-size:24px;
	font-weight:bold;
	white-space:nowrap;
	line-height:29px;
}

.text2 {
	display:inline-block;
	 color: #B8B8B8;
    font-family: 'Open Sans',sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    text-transform: uppercase;
}

.link1 {
	color:#222222;
	transition: all 0.4s ease 0s;
	font-family: 'Open Sans',sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    text-transform: uppercase;
}

.link1:hover {
	color:#D54E40;
	text-decoration:none;
}

.head-line {
	width:950px;
	margin:19px auto 0;
	background:#d54e40;
	height:3px;
}

ul.sbuttons{
	float:right;
	list-style:none;
	margin:0 0 10px 0;
}

ul.sbuttons li{
	display:block;
	float:left;
	width:25px;
	height:25px;
	margin-left:5px;
}

ul.sbuttons li a{
	display:block;
	width:100%;
	height:100%;
	text-indent:-9999px;
}

ul.sbuttons li.rss a{ background:url(../img/rss.png) scroll 0 0; }
ul.sbuttons li.rss a:hover{ background:url(../img/rss.png) scroll 0 25px; }
ul.sbuttons li.fb a{ background:url(../img/fb.png) scroll 0 0; }
ul.sbuttons li.fb a:hover{ background:url(../img/fb.png) scroll 0 25px; }
ul.sbuttons li.tw a{ background:url(../img/tw.png) scroll 0 0; }
ul.sbuttons li.tw a:hover{ background:url(../img/tw.png) scroll 0 25px; }

form.search input[type=text]{
	border:1px #827666 solid;
	color:#7a6c5b;
	height:21px;
	padding: 0 30px 0 5px;
    width: 153px;
}

form.search .submit{
	display:block;
	width:15px;
	height:15px;
	text-indent: -9999px;
	position:absolute;
	background:url(../img/search-ico.png);
	bottom: 13px;
	right: 6px;
}

/*** MENU ***/
.sf-menu, .sf-menu * {
	margin:			0;
	padding:		0;
	list-style:		none;
}

header nav {
	position:absolute;
	width:100%;
	bottom: -6px;
	z-index:99;
	background:url(../img/menu-bg.png) repeat 0 0 ;
}

header.content nav {
	position:relative;
	bottom:0;
	margin-top:4px;
}

nav ul {
	display:block;
	width:950px;
	margin:0 auto !important;
}

.p13 {
	position:relative !important;
	top:0 !important;
	margin-top:2px;
}

.p13 .sf-menu li {
	padding-bottom:2px;
}
.sf-menu {
	line-height:	1.0;
}
.sf-menu li {
	float:			left;
	width:158px;
	text-align:center;
	position:		relative;
	padding-bottom:3px;
}
.sf-menu a {
	display:		block;
	color:#fff;
	text-transform:uppercase;
	font-family: 'Open Sans', sans-serif;
	font-size:12px;
	font-weight:bold;
	line-height:15px;
	padding:20px 0;
	transition: all 0.4s ease 0s;
	position:		relative;
}

.sf-menu a:hover{text-decoration:none;}

.sf-menu li:hover,
.sf-menu li.selected,
.sf-menu li.sfHover > a {
	background:#284564;
	text-decoration:none;
}

.sf-menu ul a:hover,
.sf-menu ul li.sfHover > a {
	background:#e4814b;
}

.sf-menu ul ul a:hover,
.sf-menu ul ul li.sfHover > a {
	background:#3e6a99;
}


.last3 {
	width:160px !important;
}
.sf-menu ul {
    background: none repeat scroll 0 0 #284564;
	padding:27px 0 28px;
    position: absolute;
    top: -999em;
    width: 266px;
}

.sf-menu ul ul {
	position:relative;
	padding:0;
}

.sf-menu ul li {
	width:			100%;
	text-align:left;
}
.sf-menu ul a {
	padding:3px 0 3px 32px;
}
.sf-menu ul ul a {
	padding:3px 0 3px 44px;
	color:#ffb070;
}

.sf-menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}

.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left: 6px;
    top: 57px; /* match top ul list item height */
	z-index:		99;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left: 0;
    top: 4px;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}

/********************** Content ************************/

#content {
	width:100%; 
	padding:0 0 41px;
	background:#fff;
	position:relative;
	z-index:1;
	background-image:url(../img/content-bg.jpg);
	background-size:100% auto;
	background-repeat:no-repeat;
}

#content .content_wrapper nav.menu{
	margin-top:0px;
}

#content .content_wrapper article h1{
	margin-top:0px;
	line-height:normal;
	color:#323232;
	font-size:25px;
}

#content .content_wrapper article h2{
	line-height:normal;
	color:#323232;
	font-size:22px;
}

#content .content_wrapper article h3{
	line-height:normal;
	color:#323232;
	font-size:20px;
}


#content .content_wrapper #breadcrumb{
	padding:28px 0 22px;
	width:100%;
	border-bottom:1px #9c8f7f solid;
	margin: 0 0 25px;
}

#content .content_wrapper #breadcrumb li{
	list-style:none;	
	font-size:14px !important;	
	text-transform:capitalize;
	float:left;
	margin-right:8px;
	color:#9c8f7f;
}

#content .content_wrapper #breadcrumb li a{
	margin-right:8px;
	color:#f68c24;
}

.p14 {
	padding:6px 0 39px !important;
}

																									/***** Page 1 *****/

.page1-box1 {
	overflow:hidden;
	border-bottom:3px solid #d96c31;
	background:#f68c24;
}

.inner1 {
    border-right: 1px solid #D96C31;
    color: #FFFFFF;
    float: left;
    padding: 38px 15px 30px 37px;
    transition: all 0.4s ease 0s;
    width: 188px;
}

.inner1:hover {
	background:#d96c31;
}



.link2 {
	text-decoration:underline;
	color:#fff;
	text-transform:uppercase;
	font-weight:bold;
	font-size:12px;
	line-height:15px;
	font-family: 'Open Sans', sans-serif;
}

.link2:hover {
	text-decoration:none;
}

.link3 {
	text-decoration:underline;
	color:#f68c24;
	text-transform:uppercase;
	font-weight:bold;
	transition: all 0.4s ease 0s;
	font-size:12px;
	line-height:15px;
	font-family: 'Open Sans', sans-serif;
}

.link3:hover {
	color:#b2b2b2;
}

.text3 {
	color:#fff;
	font-size:19px;
	line-height:20px;
	font-family: 'Open Sans', sans-serif;
	font-weight:bold;
	display:block;
	text-transform:uppercase;
	margin-bottom:18px;
}

.inner1 p {
	padding-bottom:14px;
}

.last4 {
	border:none !important;
	width:175px;
}

.p9 {
	line-height:24px;
}

.p10 {
	color:#f68c24;
}

.p11 {
	margin-bottom:46px;
}

.text4 {
	margin-bottom:14px;
	display:block;
	color:#323232;
}

.page1-box4 h3{margin-bottom:25px;}

.page1-box4 img {
    padding: 6px 0 4px;
}

.page1-box2 img {
    padding: 0 10px 5px 0;
    float:left;
}

.p12 {
    display: inline-block;
    margin-top: 17px;
}

.text5 {
    color: #D54E40;
    display: block;
    font-size: 18px;
    font-weight: bold;
	font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    line-height: 22px;
    text-transform: uppercase;
}

.text7 {
    color: #323232;
    font-size: 12px;
	float:left;
	display:block;
    line-height: 23px;
}

.page1-box2 {
	overflow:hidden;
	margin-bottom:23px;
}

.page1-box2 h3{
	margin-bottom:0;
}

.page1-box2 h4{
	color:#F68C24;
	font-size: 16px;
	margin-top:0;
}

.page1-box2 p{
	color:#d54e40;
}

.page1-box3 h3{
	margin-bottom:0;
}

.page1-box3 h4{
	font-size: 13px;
	margin:15px 0;
}

.p36 {line-height:18px;}

.list1 a {
	color:#f68c24;
	font-size:13px;
	font-weight:bold;
	transition: all 0.4s ease 0s;
	line-height:18px;
}


.p33 {
    padding-bottom: 16px;
}

.list1 a:hover {
	color:#b2b2b2;
	text-decoration:none;
}

.link4 {color:#d54e40;}

.list1 li {
    background: url("../img/marker1.png") no-repeat scroll 0 5px transparent;
    display: block;
    line-height: 16px;
    padding-bottom: 8px;
    padding-left: 15px;
}

.banner1 span {
    color: #323232;
    display: block;
    font-family: 'Covered By Your Grace',cursive;
    font-size: 32px;
    line-height: 27px;
    margin-bottom: 5px;
}

.banner1 {
    border: 1px solid #DADADA;
    margin-top: 26px;
    padding: 16px 0 21px 21px;
    background:#FFF;
}

.banner1:hover, .banner1:hover strong, .banner1:hover span{
	cursor:pointer;
	color:#9c8f7f !important;
}

.banner1 strong {
    color: #f68c24;
    display: block;
    font-family: 'Open Sans',sans-serif;
    font-size: 19px;
    letter-spacing: 1px;
    line-height: 17px;
    text-transform: uppercase;
}
																									/***** Page 2 *****/
.page2-img1 {
    margin-bottom: 21px;
    padding-top: 2px;
}

.text6 {
    color: #323232;
}

.p15 {
	margin-bottom:24px;
}

.p16 {
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 30px;
    padding-bottom: 33px;
}

.p17 {
	margin-bottom:22px;
}

.p18 {
	margin-bottom:4px;
}

.page2-box1 {
	overflow:hidden;
	margin-bottom:24px;
}
#news-form .success {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #000000;
    color: #333333;
    display: none;
    left: 0;
    padding: 7px 0 7px 4px;
    position: absolute;
    top: 4px;
    width: 224px;
    z-index: 10;
}

#news-form label.invalid .error {
    height: 19px;
}
#news-form .error {
    color: #FF0000;
    display: block;
    font-size: 10px;
    height: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 35px;
    transition: all 0.3s ease-out 0s;
}


#news-form input {
    background: none repeat scroll 0 0 transparent;
    border: 1px solid #DADADA;
    box-shadow: none;
    color: #B2B2B2;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 13px;
    margin: 0 0 21px;
    outline: medium none;
    padding: 6px 12px 8px;
    width: 204px;
}

#news-form {
	padding-top:4px;
	position:relative;
}
																									/***** Page 3 *****/

.p20 {
    padding: 3px 0 41px !important;
}


.p21 {
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 32px;
    padding-bottom: 24px;
}


.p22 {
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 33px;
    padding-bottom: 10px;
}

.p23 {
	padding-top:2px;
}


.page3-img1 {
    float: left;
    margin-right: 20px;
    padding-top: 3px;
}

.p24 {
	padding-right:32px;
}


.page3-img2 {
    float: left;
    margin-bottom: 22px;
    margin-right: 20px;
    padding-top: 3px;
}

.page3-box1 {
	overflow:hidden;
	margin-bottom:10px;
}

.page3-img3 {
	padding-top:3px;
	margin-bottom:22px;
}

																									/***** Page 4 *****/


.page4-img1 {
    margin-bottom: 22px;
}

.p25 {
	margin-top:-3px;
	margin-bottom:24px;
}


.p26 {
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 30px;
    padding-bottom: 33px;
}


.page4-img2 {
    float: left;
    margin-right: 20px;
    padding-top: 3px;
}

.link5 {
    color: #D54E40;
    font-size: 18px;
    font-weight: bold;
	transition: all 0.4s ease 0s;
    letter-spacing: 2px;
    line-height: 19px;
    text-transform: uppercase;
}

.link5:hover {
	color:#b2b2b2;
	text-decoration:none;
}

.page4-box1 {
	overflow:hidden;
	margin-bottom:28px;
}

.p27 {
	margin-bottom:21px;
}


.p28 {
	margin-bottom:20px;
	margin-top:-3px;
}


.p29 {
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 32px;
    padding-bottom: 25px;
}

.p30 {
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 32px;
    padding-bottom: 35px;
}


.p32 {
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 31px;
    padding-bottom: 35px;
}
																									/***** Page 5 *****/

																									
	.page5-img1 {
	float:left;
	padding-top:4px;
	margin-right:20px;
}


.p34 {
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 32px;
    padding-bottom: 27px;
}
																								
.page6-img1 {
	margin-bottom:26px;
}
	
/******************** Footer ******************/
footer {
	width:100%; 
	background:#fcfaf7;
	border-top:3px solid #c6b9a6;
	padding:30px 0 30px;
}

.list2 a {
	color:#f68c24;
	transition: all 0.4s ease 0s;
	font-size:13px;
}

.list2 a:hover {
	color:#b2b2b2;
	text-decoration:none;
}
.list2 {
	padding-top:9px;
}

nav.menu ul li{
    background: url("../img/marker1.png") no-repeat scroll 0 5px transparent;
    display: block;
    line-height: 16px;
    padding-bottom: 8px;
    padding-left: 13px;
    font-size:17px !important;
}

nav.menu ul li a {
	color:#f68c24;
	transition: all 0.4s ease 0s;
}

nav.menu ul li a:hover {
	color:#b2b2b2;
	text-decoration:none;
}

.list2 li {
    background: url("../img/marker1.png") no-repeat scroll 0 5px transparent;
    display: block;
    line-height: 16px;
    padding-bottom: 8px;
    padding-left: 13px;
	width:160px;
	float:left;
}

.foot-page1 {
	font-size:11px;
	font-weight:bold;
	text-transform:uppercase;
	
	font-family: 'Open Sans', sans-serif;
	color:#b2b2b2;
}
.foot-page1 a {
	color:#b2b2b2;
	transition: all 0.4s ease 0s;
}
.foot-page1 a:hover {
	color:#D54E40;
	text-decoration:none;
}

.foot-page1 span{
    bottom: -10px;
    color: #9C8F7F;
    font-size: 11px;
    font-weight: 600;
    position: absolute;
    left: 93px;
    text-transform: capitalize;
    width: 160px;
}

.foot-page2{
	color:#f68c24;
	font-size:12px;
}

.foot-page2 span{
	font-weight:600;	
}

.foot-page2 .title{
	font-size:16px;
}

.foot-page2 .name{
	font-size:13px;
	color:#000;
}
