{% extends "base.html" %}
{% load cms_tags menu_tags sekizai_tags i18n bootstrap_pagination %}

{% block headerclass %}content{% endblock %}
{% block contentclass %}news{% endblock %}

{% block content %}
        	<ul id="breadcrumb" class="grid-100 clearfix">
        		{% show_breadcrumb "news/breadcrumb.html" %}
        	</ul>
        	<nav class="menu grid-25">
            	{% include "news/menu.html" %}
            </nav>
            <article class="grid-75 detail">
            	<header>
            		<h2>{{new.title}}</h2>
            		<span>{% trans "Publié le :" %} {{new.pub_date|date:"d F Y"}}</span>
            	</header>
            	{{new.content|safe}}
            </article>
{% endblock %}