{% extends "base.html" %}
{% load cms_tags menu_tags sekizai_tags i18n bootstrap_pagination %}

{% block headerclass %}content{% endblock %}
{% block contentclass %}news{% endblock %}

{% block content %}
        	<ul id="breadcrumb" class="grid-100 clearfix">
        		{% show_breadcrumb "news/breadcrumb.html" %}
        	</ul>
        	<nav class="menu grid-25">
            	{% include "news/menu.html" %}
            </nav>
            <div class="grid-75">
            	<h2>{% trans "Nouvelles" %}</h2>
            	
                {% for new in page_news.object_list %}
                
                <article class="new">
                	<header>
                		<a href="/nouvelles/{{new.slug}}/"><h3>{{new.title}}</h3></a>
                	</header>
                	<p>{{new.short_content}}</p>
                	<footer>
                		<span>{% trans "Publié le :" %} {{new.pub_date|date:"d F Y"}}</span>
                		<a class="link3" href="/nouvelles/{{new.slug}}/">Lire la suite</a>
                	</footer>
                </article>
                
                {% empty %}
					{% trans "Aucune nouvelle à afficher" %}
				{% endfor %}
				
				{% bootstrap_paginate page_news range=10 show_prev_next="true" show_first_last="true" %}
            </div>
{% endblock %}