html, body {
	min-width:300px;
	height:auto;
}

body {
	background:transparent;
	overflow:hidden;
}
#search-results{
	padding:20px 10px 0px 5px;
	overflow:hidden;
}

#search-results iframe html{
	border:none;
}
#search-results iframe {
	min-width:300px;
}


ol.search_list {
	margin-left: 15px;
	list-style-type:none;
	counter-reset: ol;
}
ol.search_list li:before {
content: counter(ol) ".";
counter-increment: ol;
float:left;
display:block;
width:20px;
text-align:right;	
color:#E4814B;
padding-right:10px;
margin:8px 0px 0 -30px
}
ol.search_list li {
	padding-bottom:20px;
	margin-left:15px;
}
span.match {
	color:#E4814B;
	font-size:11px;
	display:block;
	
}
span.search {
	color:#E4814B;
	display:inline-block;
}
.search_link {
    display: inline-block;
    margin-top: 1px;
    text-decoration: underline;
}
.search_link:hover{
	text-decoration: none;
}

