{% extends "base.html" %}
{% load cms_tags menu_tags sekizai_tags crispy_forms_tags i18n %}

{% block headerclass %}content{% endblock %}

{% block content %}
            <div class="grid-container contact">
            	<ul id="breadcrumb" class="grid-100 clearfix">
            		{% show_breadcrumb "app/breadcrumb.html" %}
            	</ul>
                <div class="grid-100 bloc1">
	                <div class="cform grid-75">
	                	<h3>Formulaire de contact</h3>
			            {% if form.message %}
			                <div class="alert alert-{{form.mtype}}">{{ form.message }}</div>
			            {% endif %}
			            {% crispy form %}
	                </div>
                	<article class="location grid-25">
                		<h3>Nous trouver</h3>
                    	{% placeholder "location" %}
                    </article>
                </div>
                <div class="grid-100 contacts">
                	<h3>Contacts</h3>
                	<div class="clearfix">
                		{% for contact in contacts %}
                		
		                <article class="contact grid-33">
		                    <h4><i class="icon icon-user"> </i>{{contact.nom}}</h4>
		                    <span class="poste">{{contact.poste}}</span><br/>
		                    Tel: <span class="tel">{{contact.tel}}</span><br/>
		                    <a href="mailto:{{contact.email}}">{{contact.email}}</a>
		                </article>
                		
                		{% empty %}
                			{% trans "Aucun contacts à afficher pour l'instant" %}
                		{% endfor %}
                	</div>
                </div>
            </div>
{% endblock %}