{% extends "base.html" %}
{% load cms_tags menu_tags sekizai_tags %}

{% block headerclass %}content{% endblock %}

{% block content %}
        	<ul id="breadcrumb" class="grid-100 clearfix">
        		{% show_breadcrumb "app/breadcrumb.html" %}
        	</ul>
        	<nav class="menu grid-25">
				<ul>
					{% show_menu_below_id request.current_page.parent.reverse_id %}
				</ul>
            </nav>
            <article class="grid-75">
                {% placeholder "content" %}
            </article>
{% endblock %}