{% extends "base.html" %}
{% load cms_tags menu_tags sekizai_tags crispy_forms_tags %}

{% block headerclass %}content{% endblock %}

{% block content %}
            <div class="grid-container contact">
            	<ul id="breadcrumb" class="grid-100 clearfix">
            		{% show_breadcrumb %}
            	</ul>
                <div class="grid-100 bloc1">
                	<h3>Nous trouver</h3>
                    <article class="map grid-75">
                        <iframe id="gm" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ca/maps?ie=UTF8&amp;cid=2593687207979332204&amp;q=Conseil+des+Atikamekw+d'Opitciwan&amp;gl=CA&amp;hl=fr&amp;t=m&amp;iwloc=A&amp;ll=48.659001,-74.938688&amp;spn=0.006295,0.006295&amp;&output=embed&iwloc=near">
                        </iframe>
                    </article>
                	<article class="location grid-25">
                    	{% placeholder "location" %}
                    </article>
                </div>
                <div class="cform grid-80">
                	<h3>Formulaire de contact</h3>
		            {% if form.message %}
		                <div class="alert alert-{{form.mtype}}">{{ form.message }}</div>
		            {% endif %}
		            {% crispy form %}
                </div>
            </div>
{% endblock %}