{% extends "base.html" %}
{% load cms_tags sekizai_tags i18n %}

{% block slideshow %}
			<div id="myCarousel" class="carousel slide carousel-fade">
			  <div class="carousel-inner">
				<div class="item active" idx=1>
                    <img style="width:100%" src="{{ STATIC_URL }}img/slide1.jpg" title="" />
                </div>
			  </div>
			</div>
			<ol class="carousel-linked-nav">
			  <li class="active"><a href="#1">1</a></li>
			</ol>
{% endblock %}
{% block content %}
        	{% if news %}
            <div class="p11 clearfix">
                <article class="grid-100">
                	<div class="page1-box1">
                		{% for new in news %}
                    	<div class="inner1 grid-25 maxheight">
                        	<span class="text3">{{new.title}}</span>
                            <p>{{new.short_content}}</p>
                            <a class="link2" href="/nouvelles/{{new.slug}}/">{% trans "Lire la suite" %}</a>
                        </div>
                        {% endfor %}
                    </div>
                </article>
                <a class="news link3" href="/nouvelles/">Voir toutes les nouvelles</a>
            </div>
            {% endif %}
        	<article class="grid-40 page1-box4">
        		{% placeholder "home_title1" %}
                <article class="grid-60">
					{% placeholder "home_content1" %}
                </article>
                <article class="grid-40">
                    {% placeholder "home_content_left1" %}
                </article>
            </article>
            <article class="grid-35 page1-box2">
				{% placeholder "home_content2" %}
            </article>
            <article class="grid-25">
{{poll|safe}}
                    <div class="banner1">
                	<span>{% trans "Suivez-nous" %}</span>
                    <strong>{% trans "Par courriel" %}</strong>
                </div>
            </article>
{% endblock %}
{% addtoblock "js" %}
    <script>
		$('#myCarousel').carousel();
		$('.carousel-linked-nav > li > a').click(function() {
		    var item = Number($(this).attr('href').substring(1));
		    $('#myCarousel').carousel(item - 1);
		    $('.carousel-linked-nav .active').removeClass('active');
		    $(this).parent().addClass('active');
		    return false;
		});
		$('#myCarousel').bind('slid', function() {
		    $('.carousel-linked-nav .active').removeClass('active');
		    var idx = $('#myCarousel .item.active').index();
		    $('.carousel-linked-nav li:eq(' + idx + ')').addClass('active');
		});
    </script>
{% endaddtoblock %}